model_config:
    als:
      params:
        r_lambda : 40
        nf : 200
        alpha : 40
        iteration : 15
    implicit_als:
      params:
        factors: 300
        regularization: 0.1
        iteration: 20
        alpha_val : 100
    rankfusion:
      params:
        k : 0
    vae:
      lr : 5e-3
      batch_size : 200
      epochs : 100
      logging_info_freq : 100

logging_config:
    version: 1
    disable_existing_loggers: True
    formatters:
        simpleFormatter:
            format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
    handlers:
        consoleHandler:
            class: logging.StreamHandler
            level: DEBUG
            formatter: simpleFormatter
            stream: ext://sys.stdout
    loggers:
        root:
            level: DEBUG
            handlers: ['consoleHandler']
        simpleExample:
            level: DEBUG
            handlers: ['consoleHandler']
            qualname: simpleExample
            propagate: 0

main_process:
    als_fb:
      kafka:
        time: 24
      to_sparse:
        user_n: 0
        item_n: 0
    vae_fb:
      kafka:
        time: 24
      to_sparse:
        user_n: 0
        item_n: 0
